<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Editora</title>

    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Detalhes Editora</h1>
    <a href="/">Menu</a>
    <a href="/livros">Livros</a>
    <a href="/autores">Autores</a>
    <a href="/editoras">Editoras</a>

    <br>
    <br>

    <b>Id Editora: </b> <span th:text="${editora.id}"></span>
    <br><b>Nome Editora: </b> <span th:text="${editora.nome}"></span>
    <br><b>Cidade Sede: </b> <span th:text="${editora.cidade_sede}"></span>
    <br><b>Fundador: </b> <span th:text="${editora.fundador}"></span>
    <br>
    <br>

    Livros
    <table>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Número de páginas</th>
            <th>Detalhes</th>
        </tr>
       
        <tr th:each="livro : ${editora.livros}">
            <td th:text="${livro.id}"></td>
            <td th:text="${livro.titulo}"></td>
            <td th:text="${livro.num_paginas}"></td>
            <td> <a th:href="@{'/detalhesLivro/' + ${livro.id}}">Detalhes</a></td>
        </tr>
    </table>
    <br>
</body>
</html>