<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Autor</title>

    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Detalhes Autor</h1>
    <a href="/">Menu</a>
    <a href="/livros">Livros</a>
    <a href="/autores">Autores</a>
    <a href="/editoras">Editoras</a>

    <br>
    <br>

    <b>Id Autor: </b> <span th:text="${autor.id}"></span>
    <br><b>Nome Autor: </b> <span th:text="${autor.nome}"></span>
    <br><b>Idade: </b> <span th:text="${autor.idade}"></span>
    <br><b>Número de prêmios: </b> <span th:text="${autor.num_premios}"></span>
    <br>
    <br>

    Livros
    <table>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Número de páginas</th>
            <th>Editora</th>
            <th>Detalhes</th>
        </tr>
       
        <tr th:each="livro : ${autor.livros}">
            <td th:text="${livro.id}"></td>
            <td th:text="${livro.titulo}"></td>
            <td th:text="${livro.num_paginas}"></td>
            <td th:text="${livro.editora?.nome}"></td>
            <td> <a th:href="@{'/detalhesLivro/' + ${livro.id}}">Detalhes</a></td>
        </tr>
    </table>
    <br>

</body>
</html>