<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Livro</title>
</head>
<body>
    <h1>Detalhes Livro</h1>
    <a href="/">Menu</a>
    <a href="/livros">Livros</a>
    <a href="/autores">Autores</a>
    <a href="/editoras">Editoras</a>

    <br>
    <br>
    
    <b>Id Livro: </b> <span th:text="${livro.id}"></span>
    <br><b>Título: </b> <span th:text="${livro.titulo}"></span>
    <br><b>Número de páginas: </b> <span th:text="${livro.num_paginas}"></span>
    <br><b>Editora: </b> <a th:href="@{'/detalhesEditora/' + ${livro.editora?.id}}" ><span th:text="${livro.editora?.nome}"></span></a></span>
    <br>
    <br>

    Autores do Livro:
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Prêmios</th>
            <th>Detalhes</th>
        </tr>
       
        <tr th:each="autor : ${livro.autor}">
            <td th:text="${autor.id}"></td>
            <td th:text="${autor.nome}"></td>
            <td th:text="${autor.num_premios}"></td>
            <td> <a th:href="@{'/detalhesAutor/' + ${autor.id}}">Detalhes</a></td>
        </tr>
    </table>
    <br>

    <form th:action="@{/associarLivroAutor(idLivro=${livro.id})}" method="POST">
        <label><b>Autores:</b></label>
        <select name="id" required>
            <option value="">Escolha o autor</option>
            <option th:each="autor : ${autores}"
                        th:value="${autor.id}"
                        th:text="${autor.nome}">
            </option>
        </select>
        <input type="submit" value="Associar Autor" />
    </form>

    <form th:action="@{/associarLivroEditora(idLivro=${livro.id})}" method="POST">
        <label><b>Editoras:</b></label>
        <select name="id" required>
            <option value="">Escolha a Editora</option>
            <option th:each="editora : ${editoras}"
                        th:value="${editora.id}"
                        th:text="${editora.nome}">
            </option>
        </select>
        <input type="submit" value="Associar Editora" />
    </form>
    
</body>
</html>