<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Editora</title>

    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>

<body>
    <a href="/">Menu</a>
    <a href="/editoras">Voltar</a>
    <br>
    <br>
    <form th:action="@{/salvarEditora}" th:object="${editora}" method="POST" id="formEditora">
      
        <label>ID Editora:</label> <span th:text="${editora.id}"></span>
        <br>
        <input type="hidden" th:value="${editora.id}" th:field="${editora.id}" name="id" />
      
        <label>Nome Editora:</label>
        <input type="text" placeholder="Digite o nome" th:value="${editora.nome}" name="nome" required/>
        <br>  

        <label>Cidade Sede:</label>
        <input type="text" placeholder="Digite a cidade sede" th:value="${editora.cidade_sede}" name="cidade_sede" required/>
        <br>  

        <label>Fundador:</label>
        <input type="text" placeholder="Digite o nome do fundador" th:value="${editora.fundador}" name="fundador" required/>
        <br>  

        <!-- tabela com livros para remover -->

        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>



</body>
</html>