<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Livro</title>
</head>
<body>
    <a href="/">Menu</a>
    <a href="/livros">Voltar</a>
    <br>
    <br>
    <form th:action="@{/salvarLivro}" th:object="${livro}" method="POST" id="formLivro">
      
        <label>ID Livro:</label> <span th:text="${livro.id}"></span>
        <br>
        <input type="hidden" th:value="${livro.id}" th:field="${livro.id}" name="id" />
      
        <label>Titulo Livro:</label>
        <input type="text" placeholder="Digite o título" th:value="${livro.titulo}" name="titulo" required/>
        <br>  

        <label>Número de páginas:</label>
        <input type="number" placeholder="Digite o número de páginas" th:value="${livro.num_paginas}" name="num_paginas" required/>
        <br>  

        <label>Editora:</label>
        <select th:field="${livro.editora}" required>
            <option value="">Escolha a editora</option>
            <option th:each="editora : ${editoras}"
                        th:value="${editora.id}"
                        th:text="${editora.nome}">
            </option>
        </select>

        <!-- <label>Editora</label>
        <input type="text" placeholder="Digite o número de prêmios" th:value="${autor.num_premios}" name="num_premios" required/>
        <br>   -->

        <!-- Lista de livros pra remover -->

        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>
</body>
</html>