<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
</head>
<body>
    <h1>Cadastro de Livros</h1>    
    <a href="/">Menu</a>
    
    <br>
    <br>

    <!-- Formulário para cadastrar novo livro -->
    <form th:action="@{/salvarLivro}" th:object="${livro}" method="POST">
        <label>Título: </label>
        <input type="text" placeholder="Digite o nome" name="titulo" required/>

        <label>Núm Páginas: </label>
        <input type="number" placeholder="Digite o núm de páginas" name="num_paginas" required/>

        <!-- <label>Autor Principal: </label>
        <select th:field="${livro.autor}" required>
            <option value="">Escolha o autor</option>
            <option th:each="autor : ${autores}"
                        th:value="${autor.id}"
                        th:text="${autor.nome}">
            </option>
        </select>

        <label>Editora: </label>
        <select th:field="${livro.editora}" required>
            <option value="">Escolha a editora</option>
            <option th:each="editora : ${editoras}"
                        th:value="${editora.id}"
                        th:text="${editora.nome}">
            </option>
        </select> -->

        <input type="submit" value="Salvar" />

    </form>

    <br>
    <br>

    <table>
        <tr>
            <th>Id Livro</th>
            <th>Título</th>
            <th>Editora</th>
            <th>Número de páginas</th>
            <th>Detalhes</th>

            <tr th:each="livro : ${livros}">
                <td th:text="${livro.id}"></td>
                <td th:text="${livro.titulo}"></td>
                <td th:text="${livro.editora}"></td>
                <td th:text="${livro.num_paginas}"></td>
                <td> <a th:href="@{'/detalhesLivro/' + ${livro.id}}">Detalhes</a></td>
            </tr>
        </tr>
    </table>

</body>
</html>